<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.element.Mapper.CartMapper">
    <insert id="addCart" parameterType="java.util.List">
        insert into cart
        (foodId,businessId,userId,quantity)
        values
        <foreach collection="carts" item="cart" separator=",">
            (#{cart.foodId},#{cart.businessId},#{cart.userId},#{cart.quantity})
        </foreach>
    </insert>
</mapper>